h1 {
	color: blue;
	font-family: "Times New Roman, Times, serif;
}
h3 {
	text-decoration: overline;
}	
img {
	border-radius: 5px;

}
table, tr, td {
	border: 2px solid black;
}
p {
	text-indent: 50px
}
body {
	background-color: grey;
}
caption {
	font-size: 20pt



